Binaries
DerivedDataCache
Intermediate
Saved/*
!Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.code-workspace
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace